* {
    font-family: sans-serif;
}

.entrance-form {
    position:           absolute;
    width:              640px;
    height:             180px;
    left:               50%;
    top:                -30px;
    margin-left:        -320px;
    padding:            40px 0px 20px;
    background:         rgba(33, 34, 36, 0.35);
    border-radius:      400px/15px;
    text-align:         center;
    transition:         all 1s;
}
.entrance-form-hidden {
    opacity:            0.35;
    top:                -200px;
}

.entrance-form > input {
    display:            block;
    width:              88%;
    margin:             2% 0% 0% 5%;
    padding:            0% 1% 0% 1%;
    letter-spacing:     1px;
    font-size:          11pt;
    outline-color:      rgb(70, 73, 78);
    border:             none;
    background:         rgba(70, 73, 78, 0.5);
    height:             20pt;
    color:              rgba(225, 225, 225, 0.75);
}

.entrance-form > button {
    margin-top:             10px;
    outline:                none;
    border:                 none;
    height:                 25px;
    width:                  25px;
    cursor:                 pointer;
    background-color:       transparent;
    background-size:        25px auto;
	background-repeat:      no-repeat;
    background-position:    center;
    transition:             all 1s;
}
.button-open {
    background-image:   url(../images/x.png);
    opacity:            0.5;
}
.button-close {
    background-image:   url(../images/x.png);
    transform:          rotate(-45deg);
}

::placeholder {
    color:              rgba(160, 160, 160, 0.7);
}