.toolbar > div {
	position:          absolute;
	bottom:            0px;
	height:            70px;
	background-color:  rgb(24, 27, 31);
	text-align: 	   center;
	color:        	   rgb(204, 216, 218);
}

.toolbarLeft {
	left:               0%;
	right:             70%;
	width:             30%;
}
.toolbarCenter {
	left:              30%;
	right:             30%;
	width:             40%;
	display: 		   flex;
	flex-direction:    row;
	align-items:       center;
	justify-content:   center;
}
.toolbarRight {
	left:              70%;
	right:              0%;
	width:             30%;
}

.toolbarButton        {
	height: 			 50px;
	background-size:     20px auto;
	background-repeat:   no-repeat;
	background-position: center;
	background-color:    rgb(24, 27, 31);
	border:              solid 0.5px rgba(85, 85, 85, 0.281);
	outline:		 	 none;
	transition:			 background-image .25s, background-color .5s ease;
}
.toolbarButton:hover {	background-color: rgba(40, 40, 40, 0.6); }
.hoverGreen:hover	 {  background-color: rgba(29, 45, 29, 0.6); }
.hoverRed:hover		 {  background-color: rgba(45, 29, 29, 0.6); }

.callButton	{
	margin: 			0px 10px 0px 10px;
	width:              100px;
	height:             64px;
	background-size:    32px auto;
	border-radius: 		50px/5px;
}
.shareButton   { 
	width:			  	140px;
	border-radius:		0px 0px 50px/20px 0px ;
}
.shareButtonImg {
	height: 			100%;
	width: 				100%;
	mask-size:     		20px auto;
	mask-repeat:   		no-repeat;
	mask-position: 		center;
	mask-image: 	 	url(../images/desktop.svg);
	transition: 		all .5s;
}
.startShare {
	background: 		#fff;
}
.stopShare {
	background: 		rgb(207, 72, 62);
}
.sectionButton {
	width:				70px;
}
.sectionButton.left {
	border-radius:		0px 0px 0px 50px/20px;
	margin-right: 		-1px;
}

.cameraOn      { background-image: url(../images/cameraOn.png); }
.cameraOff     { background-image: url(../images/cameraOff.png); }
.microphoneOn  { background-image: url(../images/microphoneOn.png); }
.microphoneOff { background-image: url(../images/microphoneOff.png); }
.callStart     { background-image: url(../images/callStart.png); }
.callEnd       { background-image: url(../images/callEnd.png); }

.participantStatus {
	line-height:  70px;
	margin:       0px 10px;
	position:     absolute;
	left:         0px;
}
.connectionStatus {
	line-height:  50px;
	margin:       0px 10px;
	position:     absolute;
	right:        0px;
	bottom:       10px;
}
.clientVersion {
	line-height:  10px;
	margin:       0px 10px;
	position:     absolute;
	right:        0px;
	bottom:       3px;
	font-size:    75%;
}

.unavailable {
	pointer-events: none;
	opacity: 0.25;
}